<style>

body {
    
    background: #ffffff url("src/bgtile_snow.jpg") ;
    background-attachment: fixed;
    background-position: center center;
}

.height {
	
	height: 5px;
}

.center {
	
	margin: 0 auto 0 auto;
	max-width: 1070px;
	border-color: #0000ff;
	border-width: 5px;
	border-style: solid;

}

.hdr1 {
	display: flex;
	align: right;
	border-style: solid;
	border-width: 2px;
	border-color: white;
	min-width: 810px;
	max-width: 1060px;
	padding: 5px;
	height: 50px;
	border-radius: 20px 20px 0px 0px;
	background-color: #C60AFF;
}

.hdr2 {
	display: flex;
	border-style: solid;
	border-width: 2px;
	border-color: white;
	max-width: 1060px;
	min-width: 810px;
	padding: 5px;
	margin: 5px 0px 0px 0px;
	height: 100px;
	background-color: #351EFF;
}

.part1 {
	display: flex;
	flex-direction: column;
	
}

.part2 {
	display: flex;
	flex-direction: column;
	padding: 5px;
	margin: 5px 0px 0px 5px;
}

.contain {
	display: flex;
	border-style: solid;
	border-width: 2px;
	border-color: white;
	max-width: 1070px;
	min-width: 810px;
	background-color: #F9F9F9;
}

.nav1 {
	display: flex;
	margin: 0px 5px 0px 0px;
	width: 15%;
	background-color: #2EFAFF;
}

.article1 {
	width: 75%;
	min-width: 50%;
	display: flex;
	flex-direction: column;
	background-color: #BFB9F9;
}

.nav2 {
	display: flex;
	margin: 0px 0px 0px 5px;
	width: 25%;
	min-width: 300px;
	background-color: #FDE3B9;
}

.foot {
	display: flex;
	border-style: solid;
	border-width: 2px;
	border-color: white;
	padding: 5px;
	height: 125px;
	max-width: 1060px;
	background-color: #CDF4C6;
}

.foot1 {
	display: flex;
	margin: 5px 0px 5px 0px;
	border-style: solid;
	border-width: 2px;
	border-color: white;
	border-radius: 0px 0px 20px 20px;
	align-text: center;
	height: 50px;
	padding: 5px;
	max-width: 1060px;
	background-color: grey;
}

</style>


<div class="center">


<head>
<meta charset="UTF-8">

<link href="flexbox.css" rel="stylesheet" type="text/css">

<div class="hdr1">
	<div>
    &emsp;
	<form method="post" name="login" >
        <label for="user" name="user" value="USER">USER:</label>
        <input name="user" type="text" value="">
        <label for="pass" name="pass" value="USER">PASS:</label>
        <input name="pass" type="password" value="">
        <input name="submit" type="submit" value="SUBMIT">
    </form>
	</div>

</div>
 
<title>Echo Base Camp Tactical Operation Center</title>
<div class="hdr2">
</div>

<div class="height">
</div>

</head>

<body>
<div class="contain">


    <div class="article1">

		<div class="part1">

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- responsive -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-5861298621903576"
     data-ad-slot="6941093750"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

  	</div>
  	<div class="part2">
		

		
		
		
		
		
  	</div>
	 
    </div>
    
    <div class="nav2">
	
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js">
    </script><ins class="adsbygoogle" style="display:inline-block;width:300px;height:600px" 
	data-ad-client="ca-pub-5861298621903576"
    data-ad-slot="2097045353"></ins>

	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script> 
    
    
    
    </div>
</div>
</body>
<div class="height">
</div>
<footer>
<div class="foot">
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<ins class="adsbygoogle"
			    style="display:inline-block;width:728px;height:90px"
    		    data-ad-client="ca-pub-5861298621903576"
	 			data-ad-slot="3573778553"></ins>
			<script>
     			(adsbygoogle = window.adsbygoogle || []).push({});
			</script>
</div>
<div class="foot1">
	ALL RIGHTS RESERVED BY ECHOBASE.CAMP
</div>

</footer>
</div>
