<div class="row">
	<div class="col-xs-12">
		<div class="jumbotron">
			HEADER
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-3">
		<div class="panel panel-default">
		   <div class="panel-body">
				<p>Stats</p>
			</div>
		</div>
	</div>
	<div class="col-xs-6">
		<div class="panel panel-default">
			<div class="panel-body">
				<p>ABOUT</p>
			</div>
		</div>
	</div>
	<div class="col-xs-3">
		<div class="panel panel-default">
			<div class="panel-body">
				<center><u><h3>The Hoth Gazette</h3></u></center>
				<p> Today the forcast for Hoth is... Well you guess it more snow.  I truely am getting sick of all this snow.
					It like why in the heck could I not just get stationed on someplace like Yavin 4 or even that planet Dagobah, 
					where we dump all are trash when we go by.  I'm sure there has got to be something better there.</p>
				<p></p>
			</div>
		</div>
	</div>
<div>
<!--BEGIN ROW 2 --> 
	<div class="col-xs-3 col-xs-offset-9">
		<div class="panel panel-default">
		   <div class="panel-body">
				<center><strong><u>AMBER ALRET:</u></strong></center><hr>
				<p>There is a six month taun taun that has been abuducted from passenger bay number one. Please be on the look
					out and report any sighting to the command immediately.
			</div>
		</div>
	</div>
</div>